[submodule "srv/rtmp-server"]
	path = srv/rtmp-server
	url = git@github.com:Lax/nginx-rtmp-hls-docker.git
[submodule "srv/xray-core"]
	path = srv/xray-core
	url = git@github.com:Lax/xray-core-client-service.git
[submodule "srv/registry"]
	path = srv/registry
	url = git@github.com:Lax/docker-registry-cache.git
[submodule "srv/redroid-service"]
	path = srv/redroid-service
	url = git@github.com:Lax/redroid-service.git
