CONFIG_HID_GENERIC=y
CONFIG_USB_HID=y
CONFIG_USB_SUPPORT=y
CONFIG_USB_XHCI_HCD=y
CONFIG_USB_EHCI_HCD=y
CONFIG_USB_OHCI_HCD=y

CONFIG_HID_GENERIC=y
CONFIG_USB_HID=y
CONFIG_USB_SUPPORT=y
CONFIG_USB_XHCI_HCD=y
CONFIG_USB_EHCI_HCD=y
CONFIG_USB_OHCI_HCD=y

CONFIG_USB4=y

# CONFIG_AMD_SFH_HID is not set
# CONFIG_SURFACE_HID is not set
# CONFIG_SURFACE_KBD is not set
# CONFIG_AMD_PMF_DEBUG is not set
